db.sqlite3
*/migrations/*
*/__pycache__/*
*/*/__pycache__/*
settings.py
!decency/settings.py
.vscode/*
Pipfile
Pipfile.lock
media/*
uwsgi.*
test.py
loggerconfig.py
debug_info.log
static_collections
sensetivewordslibary.txt
docker
test_content
apis
extra_config
__pycache__