{# 导入公共模板，减少代码量 #}
{% extends 'users_managements/users_managements_commons.html' %}
{% load static %}
{% load users_managements_extras %}

{# 详细的信息修改操作 #}
{% block change_information_form %}
    {# 如果用户已经先注册好再登陆，那就不用再跳转到注册页面了，直接跳转到首页就好了  #}
    {% if not request.user.is_authenticated %}
        {# 但是如果用户未注册，或者注册未登录，还是会跳转回注册页面的 #}
        <form action=""  method="POST">
            {% csrf_token %}
            <div class="form-group"> 
                {% for input_label in userregister_forms %}
                    <h5>
                        {{input_label.label}}
                    </h5>
                    {{input_label}}
                    <h5 class="text-danger" id ='{{input_label.name}}-tip'>
                        {{input_label.errors.as_text}}
                    </h5>
                {% endfor %}
                {# 整个form 出错 #} 
                <span class="pull-left text-danger">
                    {{userlogin_forms.non_field_errors}}
                </span>
                <div class="pull-right" style="margin-top: 2em;" >
                    {# 注册按钮 #}
                    <button type="submit" class="btn btn-default btn-primary" >{{ submit_text }}</button>
                </div>
            </div>
        </form>
    {% else %}
        <script type="text/javascript" >
               window.location.href = "/"
        </script>
    {% endif%}
    {# qq登录的入口 #}
    {% comment %} <div>
        <a href="{% get_qq_login_url %}">
            <img src="{% static 'image/qq_icon.png' %}" alt=""  class="qq-icon">
        <span>用QQ登录</span>
        </a>
    </div> {% endcomment %}
    {% comment %} <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Go!</button>
        </span>
    </div> {% endcomment %}
{% endblock  %}

